<html>
<body>
<table width="600" border="0">
  <tr>
    <td>
<div style="margin-left:auto; margin-right:auto; text-align:center;">

    <div style="float:left; font-family:'Myriad Pro'; font-size:10pt; color:#333366; background-color:#71c9f1; width:600px">
        <div style="float:left; padding:0px; width:218px; height: 100px;">
            <img src="http://www.ozone.al/image/logo-ozone.png" width="218" height="93">
        </div>
        
        <div style="float:right; width:150px; padding:40px 40px 0 0; font-size:20px">
            Kap oferten!
        </div>
        
        <div style="float:left; margin-top:20px; margin-left:20px; width:570px; height:60px; background-color:#333366; -moz-box-shadow:3px 3px 5px 3px #61aed1; -webkit-box-shadow: 3px 3px 5px 3px #61aed1; box-shadow: 3px 3px 5px 3px #61aed1; -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;">
        
            <div style="float:none; padding:8px 0 0 20px; font-size:28pt; color:#FFF; font-family:'Myriad Pro';">
                Kerkese per ndryshim fjalekalimi
            </div>
        </div>
    
	<div style="float:left; margin-top:40px; margin-left:60px; width:490px; height:315px; background-color:#bae1f8;  -moz-box-shadow:    3px 3px 5px 3px #61aed1; -webkit-box-shadow: 3px 3px 5px 3px #61aed1; box-shadow: 3px 3px 5px 3px #61aed1; -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;">
    	
        <div style="float:left; padding:17px 0 0 17px; text-align:left;">
        	
    		<b>Pershendetje ${customer.name} ${customer.surname},</b> <br/><br/>

            Keni bere kerkese per te ndryshuar fjalekalimin ne www.ozone.al ? <br/><br/>
            
            <b>Nese po:</b><br/>
            Per te krijuar nje fjalekalim te ri, klikoni link-un vijues:<br/>
            <a href="http://www.ozone.al/changePassword.faces?cusId=${idEncrypted}">
                http://www.ozone.al/changePassword.faces?cusId=${idEncrypted}
            </a> 
            Pasi te ndryshoni fjalekalimin mund te futeni tek OZone duke perdorur fjalekalimin e ri.<br/><br/>
            
            <b>Nese jo:</b><br/>
            Nese nuk keni derguar kerkese per te ndryshuar fjalekalimin tuaj, injoroni kete email.<br/>
            Fjalekalimi juaj i vjeter eshte akoma aktiv.<br/><br/>
            
            Pershendetje,<br/>
            Stafi OZone
    	</div>
    </div>
</div>

		</td>
	</tr>
</table>
</body>
</html>