<html>
<body>
<h3> Oferta nuk u plotesua</h3>

Deal-i <b>$deal.title</b> (id: $deal.id)  nuk arriti numrin minimal te blerjeve. <br/>

Mos harroni te ktheni mbrapa leket e paguara ne Cash si dhe leket e paguara me PayPal<br/>

<br/>
Emaili i derguar tek klienti specifikon menyren e rimbursimit si me poshte<br/>
****************************************************************************************
<br/>
Ne kete rast te gjithe ata qe kane blere Oferten do te rimbursohen si me poshte:<br/>

<ul>
	<li>
		Personave te cilet kane blere Oferten nepermjet Paypal ose Easypay,
		do teju rikthehet shuma ne menyre automatike ne llogarin e tyre Paypal
		ose Easypay.
	</li>
	<li>
		Personat te cilet kane perdorur menyrat e tjera te pagesave, Cash ose Korrier,
		do te kontaktohen nga operatoret tane brenda 3 dite pune, dhe garantojme rimbursimin ne Cash me ane te korrierit brenda dhe jo
		me shume se 7 dite pune.
		Per cdo informacion me teper, ju lutem na kontaktoni ne numrin e tel. 04 45 30 424, ose me email ne info@ozone.al
	</li>	
</ul>

"Kujdesi ndaj Klientit" do te jete ne sherbimin tuaj per edo paqartesi.<br/>
****************************************************************************************
