<html>
<body>
<h3>Feedback i ri</h3>

<div>
	Klienti ${cusId} sapo ka lene nje koment per partnerin <i>${partner}</i><br/>
	DealID: ${dealId}<br/> <br/>
	<b>${msg}</b><br/> <br/>
	Duhet aprovuar per te dale ne Front-End<br/>
	
	Linku i ofertes: http://ozone.al/main.faces?mainDealId=${dealId}

</div>

</body>
</html>