<html>
<body>
<h3>Ju perfituat 300 Leke bonus tek www.ozone.al</h3>

<div>
	Jemi te lumtur t'ju njoftojme se email-i juaj u regjistrua ne sistemin e www.ozone.al
	dhe ju keni perfituar 300 Leke (te reja) bonus te cilat mund ti perdorni per te blere
	nje nga ofertat, te gjitha me te pakten 50% zbritje, qe do te gjeni cdo dite tek ozone.al
	
	<br/><br/>
	Nxitoni! Bonusi mund te perdoret deri me date $creditExpire.
	<br/><br/>
	Per tu loguar ne www.ozone.al duhet te perdorni te dhenat e meposhtme dhe ju keshillojme
	te shtoni apo modifikoni te dhenat e sakta pas	logimit te pare:
	<br/><br/>
	Email: $email <br/>
	Fjalekalimi: $name
	
	<br/><br/>
	Per cdo problem apo sqarim te metejshem ju lutemi te na kontaktoni ne 04 45 30 424 ose
	dergoni nje email tek info@ozone.al
	
	<br/><br/>
	Duke qene te sigurt se tek ne do gjeni ofertat qe deshironi,<br/>
	Stafi OZone ju uron gjithe te mirat.
	
</div>

</body>
</html>