<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	   default-lazy-init="true">

	<!-- ===================================================================	-->
	<!--  AOP: Configuration and Aspects	-->
	<!-- ===================================================================	-->
	
	<!-- Transaction manager for a single JDBC DataSource -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<aop:config>
	  <aop:advisor id="managerTx" 
	  		advice-ref="txAdvice" 
	  		pointcut="execution(* *..manager.*Manager.*(..))" order="1"/>
	</aop:config>
	
	<!-- Enable @Transactional support -->
	<tx:annotation-driven/>
	
	<!-- Enable @AspectJ support -->
	<aop:aspectj-autoproxy proxy-target-class="false"/>
	
	<!-- Enable @Configured support -->
	<aop:spring-configured/>
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	  <tx:attributes>
	    <!-- Read-only commented out to make things easier for end-users -->
	   <!-- http://issues.appfuse.org/browse/APF-556 -->
	    <tx:method name="get* select*" read-only="true"/>
	    <tx:method name="*"/>
	  </tx:attributes>
	</tx:advice>	
	
</beans>
