<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<global-method-security secured-annotations="enabled" />
	
	<http use-expressions="true">
		<intercept-url pattern="/secured/**" access="isAuthenticated()" />
		<intercept-url pattern="/**" access="permitAll" /> 
		<logout logout-success-url="/login.faces" />		
		<form-login login-processing-url="/j_spring_security_check"
			login-page="/login.faces" 
			authentication-success-handler-ref="authenticationSuccessHandler"
			authentication-failure-handler-ref="loginFailureHandler"/>
	</http>
	
	<beans:bean id="authenticationSuccessHandler" class="al.ozone.admin.login.GroupAlbAuthenticationSuccessHandler">
		<beans:property name="defaultTargetUrl" value="/secured/homePage.faces"/>
		<beans:property name="userManager" ref="userManager"/>
		<beans:property name="menuManager" ref="menuManager"/>
		<beans:property name="auditTrailManager" ref="auditTrailManager"/>
		<beans:property name="applicationConfig" ref="applicationConfig"/>
	</beans:bean>
	
	<beans:bean id="loginFailureHandler" class="al.ozone.admin.login.GroupAlbAuthenticationFailureHandler">
		<beans:property name="loginFailedUrl" value="/login.faces"/>
   		<beans:property name="userManager" ref="userManager"/>
   		<beans:property name="applicationConfig" ref="applicationConfig"/>
   		<beans:property name="emailEngine" ref="emailEngine"/>
   		<beans:property name="auditTrailManager" ref="auditTrailManager"/>
	</beans:bean>	
	
	<authentication-manager>
		<authentication-provider user-service-ref='userManager'>
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>
  		<!-- <authentication-provider>
	   		<user-service>
				<user name="ermal" password="ermal" authorities="ROLE_ADMIN" />
	   		</user-service>
	  	</authentication-provider> -->
	</authentication-manager>
	
	<beans:bean id="loggerListener" class="org.springframework.security.authentication.event.LoggerListener"/>
</beans:beans>
